.title {
	display: block;
	font-size: 18px;
	font-weight: 700;
}

.formInput {
	display: block;
	margin-top: 8px;
	margin-bottom: 5px;
}

.submitBtn {
	cursor: pointer;
	background-color: #ffffff;
	border: 1px solid darkgray;
	background-color: lightgray;
	padding: 3px;
}

.submitBtn:hover {
	background-color: #ffffff;
}

.form {
	width: 300px;
	border: 2px solid #000;
	padding: 8px;
}
